In [6]:
import pandas as pd
import numpy as np
#import pickle
from sklearn.model_selection import train_test_split

In [7]:
train = 'C:/Users/Michel El Kik/Documents/MICHEL EL KIK DOCS/ESCP DOCS/ESCP Semester 2/ML/Assignment_2_3/train.csv'
df = pd.read_csv(train)

In [8]:
df.describe()

,label,id,visitTime,purchaseTime,time_spent,hour,C1,C2,C3,C4,...,N4,N5,N6,N7,N8,N9,N10,C10,C11,C12
count,31428.000000,31428.000000,3.142800e+04,3.142800e+04,31428.000000,31428.000000,3.142800e+04,3.142800e+04,3.142800e+04,3.142800e+04,...,31428.000000,31428.000000,31428.000000,31428.000000,31428.000000,31428.000000,31428.000000,3.142800e+04,3.142800e+04,3.142800e+04
mean,-0.996373,321870.448835,1.931855e+07,3.504330e+04,1.678981,11.799701,2.264373e+09,1.331820e+09,2.255368e+09,1.018468e+09,...,0.134307,0.002386,0.027269,0.002164,0.415680,0.042319,0.057560,2.218926e+09,2.939366e+09,2.158890e+09
std,0.085098,184665.780120,1.690395e+04,8.221503e+05,98.816989,4.695434,1.077516e+09,7.900907e+08,1.125852e+09,7.260969e+08,...,1.258795,0.156001,0.562668,0.079745,3.184785,1.008314,1.158253,1.235285e+09,1.020598e+09,1.416777e+09
min,-1.000000,37.000000,1.927433e+07,-1.000000e+00,-1.000000,0.000000,7.942600e+04,4.033814e+08,5.538985e+06,3.063949e+08,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.626600e+04,4.393702e+07,2.456084e+08
25%,-1.000000,162636.500000,1.930609e+07,-1.000000e+00,-1.000000,8.000000,1.464958e+09,4.033814e+08,1.408383e+09,6.524818e+08,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.140301e+09,2.379634e+09,1.213939e+09
50%,-1.000000,322691.500000,1.931761e+07,-1.000000e+00,-1.000000,12.000000,2.569487e+09,1.235983e+09,2.243934e+09,6.524818e+08,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.274128e+09,3.617852e+09,1.284343e+09
75%,-1.000000,481852.000000,1.933113e+07,-1.000000e+00,-1.000000,15.000000,2.834768e+09,2.018710e+09,3.326547e+09,6.524818e+08,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.376114e+09,3.831440e+09,4.220792e+09
max,1.000000,638505.000000,1.936054e+07,1.935732e+07,11382.000000,23.000000,4.294924e+09,2.541204e+09,4.292704e+09,2.308171e+09,...,20.000000,20.000000,20.000000,10.000000,97.000000,85.000000,86.000000,4.294964e+09,3.831440e+09,4.220792e+09

In [9]:
df.isnull().sum()

label           0
id              0
visitTime       0
purchaseTime    0
time_spent      0
hour            0
C1              0
C2              0
C3              0
C4              0
C5              0
C6              0
C7              0
C8              0
N1              0
C9              0
N2              0
N3              0
N4              0
N5              0
N6              0
N7              0
N8              0
N9              0
N10             0
C10             0
C11             0
C12             0
dtype: int64

## Variable Correlation

In [10]:
df.corr()[1:2]

,label,id,visitTime,purchaseTime,time_spent,hour,C1,C2,C3,C4,...,N4,N5,N6,N7,N8,N9,N10,C10,C11,C12
id,0.00651,1.0,0.985723,0.006543,0.013362,0.984233,0.011131,-0.031077,-0.014507,0.048138,...,0.026743,0.00686,0.012628,-0.001135,0.035148,0.01339,0.012329,-0.00043,0.053341,0.070517

# Pre-Processing

In [11]:
df1 = df.drop(['id', 'purchaseTime', 'visitTime', 'time_spent','hour'], axis=1)

In [12]:
df1.describe()

,label,C1,C2,C3,C4,C5,C6,C7,C8,N1,...,N4,N5,N6,N7,N8,N9,N10,C10,C11,C12
count,31428.000000,3.142800e+04,3.142800e+04,3.142800e+04,3.142800e+04,3.142800e+04,3.142800e+04,3.142800e+04,3.142800e+04,31428.000000,...,31428.000000,31428.000000,31428.000000,31428.000000,31428.000000,31428.000000,31428.000000,3.142800e+04,3.142800e+04,3.142800e+04
mean,-0.996373,2.264373e+09,1.331820e+09,2.255368e+09,1.018468e+09,2.741699e+09,1.864977e+09,2.164069e+09,1.961886e+09,0.510882,...,0.134307,0.002386,0.027269,0.002164,0.415680,0.042319,0.057560,2.218926e+09,2.939366e+09,2.158890e+09
std,0.085098,1.077516e+09,7.900907e+08,1.125852e+09,7.260969e+08,3.771211e+08,1.359663e+09,4.764277e+08,1.216958e+09,1.157846,...,1.258795,0.156001,0.562668,0.079745,3.184785,1.008314,1.158253,1.235285e+09,1.020598e+09,1.416777e+09
min,-1.000000,7.942600e+04,4.033814e+08,5.538985e+06,3.063949e+08,2.116767e+09,1.021250e+07,5.493426e+08,1.575331e+08,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.626600e+04,4.393702e+07,2.456084e+08
25%,-1.000000,1.464958e+09,4.033814e+08,1.408383e+09,6.524818e+08,2.116767e+09,5.717657e+08,2.303407e+09,4.348284e+08,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.140301e+09,2.379634e+09,1.213939e+09
50%,-1.000000,2.569487e+09,1.235983e+09,2.243934e+09,6.524818e+08,2.967513e+09,1.955108e+09,2.303407e+09,2.206062e+09,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.274128e+09,3.617852e+09,1.284343e+09
75%,-1.000000,2.834768e+09,2.018710e+09,3.326547e+09,6.524818e+08,2.967513e+09,2.712499e+09,2.303407e+09,2.374955e+09,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.376114e+09,3.831440e+09,4.220792e+09
max,1.000000,4.294924e+09,2.541204e+09,4.292704e+09,2.308171e+09,3.955179e+09,4.288421e+09,3.649212e+09,4.143495e+09,5.000000,...,20.000000,20.000000,20.000000,10.000000,97.000000,85.000000,86.000000,4.294964e+09,3.831440e+09,4.220792e+09

In [13]:
X = df1.loc[:, df1.columns != "label"] #setting all variablesexcept "label" as independent variables
y = df1.loc[:, df1.columns == "label"]

In [14]:
y.describe()

              label
count  31428.000000
mean      -0.996373
std        0.085098
min       -1.000000
25%       -1.000000
50%       -1.000000
75%       -1.000000
max        1.000000

In [15]:
X.describe()

,C1,C2,C3,C4,C5,C6,C7,C8,N1,C9,...,N4,N5,N6,N7,N8,N9,N10,C10,C11,C12
count,3.142800e+04,3.142800e+04,3.142800e+04,3.142800e+04,3.142800e+04,3.142800e+04,3.142800e+04,3.142800e+04,31428.000000,3.142800e+04,...,31428.000000,31428.000000,31428.000000,31428.000000,31428.000000,31428.000000,31428.000000,3.142800e+04,3.142800e+04,3.142800e+04
mean,2.264373e+09,1.331820e+09,2.255368e+09,1.018468e+09,2.741699e+09,1.864977e+09,2.164069e+09,1.961886e+09,0.510882,2.260150e+09,...,0.134307,0.002386,0.027269,0.002164,0.415680,0.042319,0.057560,2.218926e+09,2.939366e+09,2.158890e+09
std,1.077516e+09,7.900907e+08,1.125852e+09,7.260969e+08,3.771211e+08,1.359663e+09,4.764277e+08,1.216958e+09,1.157846,1.373591e+09,...,1.258795,0.156001,0.562668,0.079745,3.184785,1.008314,1.158253,1.235285e+09,1.020598e+09,1.416777e+09
min,7.942600e+04,4.033814e+08,5.538985e+06,3.063949e+08,2.116767e+09,1.021250e+07,5.493426e+08,1.575331e+08,0.000000,1.469265e+07,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.626600e+04,4.393702e+07,2.456084e+08
25%,1.464958e+09,4.033814e+08,1.408383e+09,6.524818e+08,2.116767e+09,5.717657e+08,2.303407e+09,4.348284e+08,0.000000,1.097314e+09,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.140301e+09,2.379634e+09,1.213939e+09
50%,2.569487e+09,1.235983e+09,2.243934e+09,6.524818e+08,2.967513e+09,1.955108e+09,2.303407e+09,2.206062e+09,0.000000,2.226683e+09,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.274128e+09,3.617852e+09,1.284343e+09
75%,2.834768e+09,2.018710e+09,3.326547e+09,6.524818e+08,2.967513e+09,2.712499e+09,2.303407e+09,2.374955e+09,0.000000,3.329758e+09,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.376114e+09,3.831440e+09,4.220792e+09
max,4.294924e+09,2.541204e+09,4.292704e+09,2.308171e+09,3.955179e+09,4.288421e+09,3.649212e+09,4.143495e+09,5.000000,4.287643e+09,...,20.000000,20.000000,20.000000,10.000000,97.000000,85.000000,86.000000,4.294964e+09,3.831440e+09,4.220792e+09

# Split data into training and testing

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.25, random_state = 42, stratify = y)

Re-sampling

In [17]:
from imblearn.over_sampling import SMOTE

In [18]:
sm = SMOTE(sampling_strategy = 'minority', random_state = 42)
X_train, y_train= sm.fit_resample(X_train, y_train)

In [19]:
len(y_train)

47056

# log reg

In [20]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression()
clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)

print(clf.score(X_train, y_train))
print(clf.score(X_test, y_test))

C:\Users\Michel El Kik\Anaconda3\lib\site-packages\sklearn\utils\validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.7362504250255015
0.761486572483136

In [21]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

          -1       1.00      0.76      0.86      7843
           1       0.01      0.71      0.01        14

    accuracy                           0.76      7857
   macro avg       0.50      0.74      0.44      7857
weighted avg       1.00      0.76      0.86      7857

In [22]:
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_test, y_pred))

[[5973 1870]
 [   4   10]]

In [27]:
from sklearn.model_selection import cross_val_score
from numpy import mean
scores = cross_val_score(clf, X, y, scoring='roc_auc', n_jobs=-1)
print('Mean ROC AUC: %.3f' % mean(scores))

Mean ROC AUC: 0.727

# random forest

In [33]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(random_state=42, n_estimators=60)

rfc.fit(X_train, y_train)
pred_rfc = rfc.predict_proba(X_test)
y_pred_rfc = rfc.predict(X_test)

C:\Users\Michel El Kik\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

In [34]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred_rfc))

              precision    recall  f1-score   support

          -1       1.00      1.00      1.00      7843
           1       0.77      0.71      0.74        14

    accuracy                           1.00      7857
   macro avg       0.88      0.86      0.87      7857
weighted avg       1.00      1.00      1.00      7857

In [35]:
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_test, y_pred_rfc))

[[7840    3]
 [   4   10]]

In [36]:
from sklearn.model_selection import cross_val_score
from numpy import mean
scores = cross_val_score(rfc, X, y, scoring='roc_auc',n_jobs=-1)
print('Mean ROC AUC: %.3f' % mean(scores))

Mean ROC AUC: 0.910

# test set

In [47]:
test = 'C:/Users/Michel El Kik/Documents/MICHEL EL KIK DOCS/ESCP DOCS/ESCP Semester 2/ML/Assignment_2_3/test1.csv'
df2 = pd.read_csv(test)

In [48]:
df2.tail()

,label,id,visitTime,purchaseTime,hour,C1,C2,C3,C4,C5,...,N4,N5,N6,N7,N8,N9,N10,C10,C11,C12
32081,-1,32082,19446873,-1,23,2569487005,2018710401,887116886,652481754,2967512603,...,0,0,0,0,0,0,0,1546561973,3617851689,4220791646
32082,-1,32083,19446914,-1,23,2569487005,403381353,3475347077,652481754,2967512603,...,0,0,0,0,0,0,0,3227742820,3617851689,4220791646
32083,-1,32084,19446925,-1,23,2569487005,403381353,3475347077,652481754,2967512603,...,0,0,0,0,0,0,0,4069315994,3617851689,4220791646
32084,-1,32085,19446931,-1,23,2569487005,2541203883,448895441,2308170622,2967512603,...,0,0,0,0,0,0,0,2724771230,3617851689,4220791646
32085,-1,32086,19446960,-1,23,2569487005,403381353,2294620541,652481754,2967512603,...,0,0,0,0,0,0,0,2151556883,3617851689,4220791646

In [49]:
del df2['label']

In [50]:
ID = df2['id']

In [51]:
df2 = df2.drop(['id', 'purchaseTime', 'visitTime','hour'], axis=1)

In [52]:
predictions = pd.DataFrame(rfc.predict_proba(df2), columns=['Prob_0','Prob_1'])

In [53]:
df2['Prob_0'] = predictions['Prob_0']
df2['Prob_1'] = predictions['Prob_1']
df2['ID'] = ID

In [54]:
Result = pd.DataFrame()
Result['ID'] = df2['ID']
Result['Prob_0'] = df2['Prob_0']
Result['Prob_1'] = df_test['Prob_1']

In [55]:
Result.set_index('ID')

       Prob_0  Prob_1
ID
1         1.0     0.0
2         1.0     0.0
3         1.0     0.0
4         1.0     0.0
5         1.0     0.0
...       ...     ...
32082     1.0     0.0
32083     1.0     0.0
32084     1.0     0.0
32085     1.0     0.0
32086     1.0     0.0

[32086 rows x 2 columns]